<% flash.each do |name, msg| -%>
 <%= content_tag :div, msg, class: name %>
<% end %>

<h1>Books Lists <small>This is a list of all books in the system.</small></h1>


<p>Book count: <%= @books.count %></p>
<table style="width: 100%" class="table table-condensed">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th></th>
		<!-- <th>Isbn</th>
		<th>Year</th> -->
	</tr>
	
	<% @books.each do |book| %>
	<tr>
		<td><%= link_to book.title, book %></td>
		<td><%= book.author %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<!-- <td><%= book.isbn %></td>
		<td><%= book.year %></td> -->
	</tr>
	<% end %>


</table>
<br>
<%= link_to "New Book", new_book_path, class: "btn btn-primary btn-lg active" %>
