<h1>Book: <%= @book.title %></h1>

<p><%= link_to "Back to list of books", books_path %></p>

<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>ISBN: <%= @book.isbn %></p>
<p>Year: <%= @book.year %></p>
     <div class="col-md-8">
        <% if @book.contents.any? %>
          <h3>Contents (<%= @book.contents.count %>)</h3>
          <ol class="contents">
            <%= render @contents %>
          </ol>
        <% end %>
      </div>